<bienvenida></bienvenida>

<abogado></abogado>


<div class="wra_form_data ">
    <div class="body_form_data">
        <label>Comentarios</label>

        <div class="colum colums1" >
            <textarea style='height: 300px'></textarea>
        </div>
  
    </div>
</div>

<div class="contentInputs">
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        <div class="btn-rounded"><p>Cancelar</p></div>
    </div>
    <div class="colum colums4">
        <button class="btn-blue">Finalizar</button>
    </div>

</div>
