<h1>Reportes de Folios Prestados</h1><hr>
<div class="contentInputs">
    <div class="colum colums4">
        <p>
            <input type="checkbox">
            <b>Prestados</b>
        </p>
    </div>
    <div class="colum colums4">
        <p>
            <input type="checkbox">
            <b>Devueltos</b>
        </p>
    </div>
    <div class="colum colums4">
        <p>
            <input type="checkbox">
            <b>Solicitados</b>
        </p>
    </div>
    <div class="colum colums4">
        <p>
            <input type="checkbox">
            <b>Todos</b>
        </p>
    </div>
</div>
<div class="frm_expediente ng-scope">
    <div class="colum colums4">
        <p>
            <b>Periodo de Fechas:</b> 
        </p> 
    </div>
    <div class="colum colums4">
        <input type="text" class="datepicker hasDatepicker" placeholder="Ingresa los datos">
    </div> 
    <div class="colum colums4">
        <input type="text" class="datepicker hasDatepicker" placeholder="Ingresa los datos">
    </div> 
</div>
<div class="contentInputs">
    <table class="tableForm">
        <thead>
            <tr>
                <th width="14.2%">Abogado</th>
                <th width="14.2%">Folio Inicial</th>
                <th width="14.2%">Folio Final</th>
                <th width="14.2%">Escritura</th>
                <th width="14.2%">Folios desde</th>
                <th width="14.2%">Estatus</th>
                <th width="14.2%">Actividad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Tiempo estandar de prestamo-devolución</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Tiempo máximo devolución</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Tiempo máximo fuera de fecha</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Promedio de prestamos por mes</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Promedio de prestamos contra mes anterior</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>
<div class="contentInputs">
    <div class="colum colums2">
        <p><b>Promedio de prestamos por año</b></p>
    </div>
    <div class="colum colums2">
        <input type="text">
    </div>
</div>