<navexpediente></navexpediente>

<bienvenida></bienvenida>

<abogado></abogado>

<br>


<h2>Lorem ipsum dolorem</h2>
<div class="wra_form_data">

    <div class="body_form_data">

        <div class="contentInputs">
            <div class="colum colums4">
                <label>Valor de la operaci&oacute;n</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>
            <div class="colum colums4">
                <label>Valor mantenimiento</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>
            <div class="colum colums4">
                <label>Impuesto adquisici&oacute;n de bienes</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>
            <div class="colum colums4">
                <label>Derechos de reglamento p&uacute;blico</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>


        </div>


        <div class="contentInputs">
            <div class="colum colums2">
                <label>Constancia de no adeudo predial</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>

            <div class="colum colums2">
                <label>Certificado de libertad de gravamenes</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>


        </div>

        <div class="contentInputs">
            <div class="colum colums2">
                <label>Plano catastral</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>

            <div class="colum colums2">
                <label>Tr&aacute;mites</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>


        </div>

        <div class="contentInputs">
            <div class="colum colums2">
                <label>Constancia de no adeudo de agua</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>

            <div class="colum colums2">
                <label>Sello catastral</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>


        </div>

    </div>
</div>
<br>
<h2>Lorem ipsum dolorem</h2>

<div class="wra_form_data">

    <div class="body_form_data">

        <div class="contentInputs">
            <div class="colum colums4">
                <label>Honorarios</label>
                <input type="text" placeholder="Nombre(s)" ng-model="user.dspaterno" name="padre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.padre.$error.required" >Campo requerido</div>


            </div>
            <div class="colum colums4">
                <label>Total de gastos</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>
            <div class="colum colums4">
                <label>IVA</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>
            <div class="colum colums4">
                <label>Subtotal</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>


        </div>

        <div class="contentInputs">
            <div class="colum colums4">
                <label></label>
                &nbsp;


            </div>
            <div class="colum colums4">
                <label></label>
                &nbsp;


            </div>
            <div class="colum colums4">
                <label></label>
                &nbsp;

            </div>
            <div class="colum colums4">
                <label>Gran total</label>
                <input type="text" placeholder="Primer apellido" ng-model="user.dsnombre" name="nombre" required="true" />
                <div class="tooltip" ng-show="myForm.submitted && myForm.nombre.$error.required" >Campo requerido</div>

            </div>


        </div>


    </div>
</div>


<div class="contentInputs">
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        <div class="btn-rounded"><p>Cancelar</p></div>
    </div>
    <div class="colum colums4">
        <button class="btn-blue">Guardar</button>
    </div>

</div>

