<div class='con_popUp_header con_popUp_wrapper'>
                <div class='con_popUp_header_tit'>
                    <h2>Elaboraci&oacute;n de car&aacute;tula</h2>
                    <p>(4)Archivos</p>
                </div>
                <div class='con_popUp_header_cerrar' onclick="popLateral('views/lateral/elaboracion_caratula.html',1)"></div>
            </div>
            
            <div class='con_popUp_title con_popUp_wrapper'>
                <div>
                    <h2>Documentos recientes</h2>
                </div>
            </div>
         
            <div class='con_popUp_body con_popUp_wrapper'>
                <div>
                    <h3>Fecha de creaci&oacute;n: dd/mm/yyyy</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>

                </div>
            </div>