<navexpediente></navexpediente>

<bienvenida></bienvenida>

<div class="contentInputs">
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        <button class="btn-blue" ng-click="goTo('/comparecientes_registrar_ri')">Nuevo registro RI</button>
    </div>

</div>


    <div class="contentInputs">
        <table class="tableForm">
            <tr>
                <th width="5%">
                         <span class="tbl_icon ico_person_two"></span>
                </th>
                <th width="20%">Nombre</th>
                <th width="5%">
                         <span class="tbl_icon ico_person_one"></span>
                </th>
                <th width="20%">Tipo de Otorgante</th>
                <th width="20%">Acto</th>
                <th width="15%">Representa a</th>
                <th width="5%">
                         <span class="tbl_icon ico_edit">falta icono ri</span>
                </th>
                <th width="5%">
                         <span class="tbl_icon ico_edit">falta icono circulo llave</span>
                </th>
                <th width="5%">
                         <span class="tbl_icon ico_edit"></span>
                </th>
            </tr>
            <tr>
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
            </tr>

        </table>
    </div>
