<loadscript url=ctrl_filtroActoCompareciente.js></loadscript>
<div ng-controller=ctrl_filtroActoCompareciente>

    <div class="contentInputs"> 

        <div class="colum colums1"> 
            <label>Selecciona una suboperación:
            </label> 
                        <div class="wrap_select"> 

            <select ng-model="filtroActoCompareciente.suboperacion" ng-options="subop as subop.dsnombre for subop in sel_operaciones | orderBy:'dsnombre'"> 

                    <option value="" disabled selected>--Seleccione--</option> 
                </select> 
                        </div>
        </div>
               
    </div>
    <div class="contentInputs"> 

        <div class="colum colums1"> 
            <label>Seleccione el tipo de compareciente a asociar:
            </label> 
            <div class="wrap_select"> 

            <select ng-model="filtroActoCompareciente.tipoCompareciente"  ng-options="tipo as tipo.dsnombre for tipo in tipo_comparecientes | orderBy:'dsnombre'"> 

                    <option value="" disabled selected>--Seleccione--</option> 
                </select> 
                        </div>
        </div>               
    </div>
    
    
      <div class="contentInputs"> 

        <div class="colum colums4"> &nbsp; 
        </div>

          <div class="colum colums4"> &nbsp;</div>

        <div class="colum colums4"> 
            <button class="btn-blue" ng-click="guardar()">Guardar</button> 
        </div>
    </div>
    
    <div class="contentInputs"> 

        <div class="colum colums1"> 
            <label>Filtro:
            </label> 
            <input type="text" ng-model="filtro_filtros" placeholder="Filtro de grupos" />
        </div>
               
    </div>
    
    <h2 class="tit_H2">Listado de usuarios asociados</h2>

    <div class="contentInputs"> 
        <table class="tableForm"> 
            <tr> 
                <th width="5%"> 

                    <span class="tbl_icon ico_house">
                    </span> 
                </th> 
                <th width="40%">Suboperación
                </th> 
                <th width="40%">Rol
                </th> 
                <th width="5%"> 
                </th> 
            </tr>
            <tr ng-repeat="filtro in listaTipoComparecientesFiltro | orderBy:'suboperacion.dsnombre' | filter:filtro_filtros" ng-class-even="'lista_alternate'"> 
                <td>{{$index + 1}}
                </td>
                <td class="altas_bajas">
                    {{filtro.suboperacion.dsnombre}}
                </td>
                
                
                <td class='altas_bajas'> 
                    {{filtro.tipoCompareciente.dsnombre}}
                </td>
              
                <td ng-click="delete(filtro)"> 
                    <span class="tbl_icon ico_delete">
                    </span> 
                </td>
            </tr>
        </table>
    </div>

</div>



