<bienvenida></bienvenida>

<abogado></abogado>


<div class="contentInputs">
        <table class="tableForm">
            <tr>
                <th width="5%" >
                    <span class="tbl_icon ico_documento"></span>
                </th>
                <th width="30%">Tipo</th>
                <th width="20%">Versi&oacute;n</th>
                <th width="20%">Explorado por</th>
                <th width="20%">Fecha</th>
                
                <th width="5%">
                     <span class="tbl_icon ico_eye"></span>
                </th>
            </tr>
            <tr>
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 


            </tr>

        </table>
    </div>
    
<div class="contentInputs">
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    
    <div class="colum colums4">
        <button class="btn-blue">Cerrar</button>
    </div>

</div>