<bienvenida></bienvenida>

<abogado></abogado>


<div class="wra_form_data ">
    <div class="body_form_data">
        <label>Adjuntar documento</label>

        <div class="colum colums2" >
            <input type="text"/>
        </div>
        <div class="colum colums4">
            <div class="btn-rounded"><p>Guardar</p></div>
        </div>
        <div class="colum colums4">
            <div class="btn-rounded" onclick="popLateral('views/lateral/elaboracion_caratula.html',1)"><p>Consultar documentos</p></div>
        </div>

    </div>
</div>




<h2 class="tit_H2">Lorem ipsum dolorem enerosm</h2>
<div class="wra_form_data " id="caratulaCk">
    <div class="body_form_data">
        <div class="colum colums1">
            <div class="contentInputs pla_for_ck_content">
               <!--<textarea id="plan_ck"></textarea>-->
            </div>
        </div>
    </div>
</div>



<div class="contentInputs">
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        &nbsp;
    </div>
    <div class="colum colums4">
        <div class="btn-rounded"><p>Cancelar</p></div>
    </div>
    <div class="colum colums4">
        <button class="btn-blue">Guardar</button>
    </div>

</div>
<script>
        creaCK('#caratulaCk');
    
</script>
    